* {
  box-sizing: border-box;
}

/* Main */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F2F2F3;
  display: flex;
  flex-direction: column;
  color: #4D505B;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

#appTitle {
  font-size: 4em;
  text-align: center;
  margin: auto;
  width: 415px;
}

.appSubtitles {
  text-align: center;
}

main, nav {
  /*border: 1px solid black; */
  margin: 0 auto;
  width: 90%;
}

main {
  padding: 20px;
  /*margin-top: 10px;
  background: #CF4858;*/
}

.click {
  cursor: pointer;
}

.click:hover {
  color: #D9411E;
}

/* Nav Bar */
nav > ul {
  height: 50px;
  width: auto;
  text-align: center;
  margin: auto;
}

nav > ul > li {
  display: inline-block;
  list-style-type: none;
  padding: 1em 2em;
  font-weight: bold;
  font-size: 1em;
}

.login {
  margin: auto;
  text-align: center;
}

/* Signup */
.signup {
  text-align: center;
}

.signup input {
  width: 300px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px;
}

.signupButton {
  font-size: 15px;
  padding: 5px;
}

/* Movie Partial */
.movie {
  display: flex;
}

.movieSearch {
  order: -1;
  width: 60%;
}

.movieReview {
  width: 40%;
}

.recent_reviews_container {
  width: 40%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.review {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #ddd;
}

.movie_reviews_container {
  margin: 0 auto;
  text-align: center;
}

.movie_reviews_container .review{
  width: 90%;
  margin: 30px auto;
  flex-flow: row wrap;
}

.review > div {
  width: 50%;
  overflow: hidden;
}

.review img {
  height: 250px;
}
