/* Main */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FAF9F4;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

#appTitle {
  font-size: 4em;
  text-align: center;
  margin: 0px;
}

.appSubtitles {
  text-align: center;
}

main, nav {
  /*border: 1px solid black; */
  margin: 0 auto;
  width: 90%;
}

main {
  padding: 20px;
  /*margin-top: 10px;
  background: #CF4858;*/
}

/* Nav Bar */
nav > ul {
  height: 50px;
  width: auto;
  text-align: center;
  margin: auto;
  background: #4D505B;
  color: white;
}

nav > ul > li {
  display: inline-block;
  list-style-type: none;
  padding: 1em 2em;
}

/* Home Partial */

/* Movie Partial */
.movie {
  display: flex;
}

.movieSearch {
  order: -1;
  width: 60%;
}

.movieReview {
  width: 40%;
}
