/* Main */

h1 {
  font-family: 'Raleway', sans-serif;
}

#appTitle {
  font-size: 3em;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Nav Bar */
nav {
  border: 1px solid black;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

li {
  display: inline-block;
}

/* Home Partial */
