<h1>Recently Added Reviews</h1>

<div class="">
  <div class="" ng-repeat="review in rev.allReviews | orderBy:'-'">
    <h3>{{review.title}}</h3>
    <h4>User Rating: {{review.rating}}</h4>
    <p>Comments: {{review.comments}}</p>
    <button ng-click="editForm=true">Edit</button><button ng-click="rev.deleteReview(review, home.currentUser)">Delete</button>
    <form ng-show="editForm" ng-submit="rev.editReview(review)">
      <input type="text" placeholder="{{review.title}}" ng-model="rev.updatedReview.title">
      <input type="text" placeholder="{{review.rating}}" ng-model="rev.updatedReview.rating">
      <input type="text" placeholder="{{review.comments}}" ng-model="rev.updatedReview.comments">
      <button ng-click="editForm=false">Submit</button>
    </form>
  </div>
</div>
