<h1>Home Partial</h1>

<div class="" ng-controller="ReviewController as rev">
  <div class="" ng-repeat="review in rev.allReviews">
    <h3>{{review.title}}</h3>
    <h4>Rating: {{review.rating}}</h4>
    <p>{{review.comments}}</p>
  </div>
</div>

<div ng-controller="MovieController as movie">

  <div>
    <form ng-submit="movie.searchMovie(title)">
      <input ng-model="title" placeholder="Movie title">
      <button type="submit">Search!</button>
    </form>
  </div>

  <br><br>

  <div ng-show="movie.bigResult.Response == 'True'">
    <img ng-src={{movie.bigResult.Poster}}>
    <h3>{{movie.bigResult.Title}}</h3>
    <p>{{movie.bigResult.Genre}}</p>
    <p>{{movie.bigResult.Rated}}</p>
    <p>{{movie.bigResult.imdbRating}}</p>
  </div>

  <div ng-show="movie.bigResult.Response == 'False'">
    <h3>Sorry, no results found</h3>
  </div>

    <br>


  <div ng-show="movie.result2 && movie.result2.Poster != 'N/A'">
    <h3>Did you mean..?</h3>
    <img ng-src={{movie.result2.Poster}}
    ng-click=movie.searchMovie(movie.result2.Title)>
    <img ng-show="movie.result3"
    ng-src={{movie.result3.Poster}}
    ng-click=movie.searchMovie(movie.result3.Title)>
    <img ng-show="movie.result3" ng-src={{movie.result4.Poster}}
    ng-click=movie.searchMovie(movie.result4.Title)>
  </div>

</div>
