<div class="movie" ng-controller="ReviewController as rev">
  <div class="movieSearch">
    <h1>Movie Search</h1>
    <div>
      <form ng-submit="movie.searchMovie(title)">
        <input ng-model="title" placeholder="Movie title">
        <button type="submit" ng-click="reviews=true">Search!</button>
      </form>
    </div>
    <br>
    <div class="main_result" ng-show="movie.bigResult">
      <h2>{{movie.bigResult.title}} ({{movie.bigResult.release_date}})</h2>
      <img ng-src=https://image.tmdb.org/t/p/w1280{{movie.bigResult.poster_path}}>
      <p>Genre: {{movie.bigResult.genres[0].name}}</p>
      <p>Vote Average: {{movie.bigResult.vote_average}}</p>
      <p>Plot: {{movie.bigResult.overview}}</p>
    </div>

    <div ng-show="movie.bigResult === null">
      <h3>Sorry, no results found</h3>
    </div>

    <div class="secondary_results" ng-show="movie.result2">
      <h3>Did you mean..?</h3>
      <img ng-src=https://image.tmdb.org/t/p/w1280{{movie.result2.poster_path}}
      ng-click=movie.searchMovie(movie.result2.title)>
      <img ng-show="movie.result3"
      ng-src=https://image.tmdb.org/t/p/w1280{{movie.result3.poster_path}}
      ng-click=movie.searchMovie(movie.result3.title)>
      <img ng-show="movie.result4" ng-src=https://image.tmdb.org/t/p/w1280{{movie.result4.poster_path}}
      ng-click=movie.searchMovie(movie.result4.title)>
    </div>
  </div>
  <div class="movieReview" ng-show="reviews">
    <h1>Add A Review:</h1>
    <form ng-submit="rev.addReview(home.currentUser, movie.bigResult)">
      <input type="text" placeholder="Your Review Title" ng-model="rev.newReview.title">
      <input type="text" placeholder="Your Review Rating" ng-model="rev.newReview.rating">
      <input type="text" placeholder="Your Review Comments" ng-model="rev.newReview.comments">
      <button>Submit</button>
    </form>

    <p ng-if="rev.newReview.title">Review Title: <strong>{{rev.newReview.title}}</strong></p>
    <p ng-if="rev.newReview.rating">Review Rating: <strong>{{rev.newReview.rating}}</strong></p>
    <p ng-if="rev.newReview.comments">Comments: <strong>{{rev.newReview.comments}}</strong></p>


    <div class="movie_reviews_container">
      <h2>Posted Reviews</h2>
      <div class="review" ng-repeat="review in rev.movieReviews | orderBy: '-updated_at' | limitTo: 4" ng-show="review.imdbID == movie.bigResult.imdb_id">
        <h3>{{review.title}}</h3>
        <p>User Rating: {{review.rating}}</p>
        <p>Comments: {{review.comments}}</p>
      </div>
    </div>


  </div>
</div>
